<div class="">
    <p class="text-gray-400 text-2xl font-bold">Bad destroy component</p>
    <mat-radio-group class="grid grid-cols-2" [value]="selectedFunction()" (change)="selectFunction($event)">
        @for(status of codeStatus | keyvalue; track status) {
            <mat-radio-button class="grid grid-cols-2" [value]="status.value">
                {{ status.value }}
            </mat-radio-button>
        }
    </mat-radio-group>        
    <br/>
</div>
<div class="grid grid-cols-2 gap-3">
    <button mat-raised-button color="primary" (click)="startFunction()">Start pokemon stream</button>
    <button mat-raised-button color="warn" (click)="destroyFunction()">Force stop pokemon stream</button>
</div>
<div>    
@switch (selectedFunction()) {
    @case (codeStatus.CompleteWithTakeUntilDestroyedKO) {
        <textarea highlight-js lang="ts">
#destroyRef = inject(DestroyRef);           
completeWithTakeUntilDestroyedKO() {
    return of().pipe(    
        takeUntilDestroyed(this.#destroyRef), 
        switchMap(() => this.getPokemonEveryTwoseconds()),
        tap((pokemon) => {
            this.#rxjsService.currentPokemon.set(pokemon);
            this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
        }),     
    );
}
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeUntilDestroyedOK) {
        <textarea highlight-js lang="ts">
#destroyRef = inject(DestroyRef);               
completeWithTakeUntilDestroyedOK() {
    return of().pipe(
        switchMap(() => this.getPokemonEveryTwoseconds()),
        tap((pokemon) => {
            this.#rxjsService.currentPokemon.set(pokemon);
            this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
        }),    
        takeUntilDestroyed(this.#destroyRef), 
    );
}
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeUntilKO) {
        <textarea highlight-js lang="ts">
completeWithTakeUntilKO() {
    return of().pipe(    
        takeUntil(this.#destroy$),           
        switchMap(() => this.getPokemonEveryTwoseconds()),
        tap((pokemon) => {
            this.#rxjsService.currentPokemon.set(pokemon);
            this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
        }),     
    );
}
ngOnDestroy(): void {
    this.#destroy$.next();
    this.#destroy$.complete();
}
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeUntilOK) {
        <textarea highlight-js lang="ts">
completeWithTakeUntilOK() {
    return of().pipe(    
        switchMap(() => this.getPokemonEveryTwoseconds()),
        tap((pokemon) => {
            this.#rxjsService.currentPokemon.set(pokemon);
            this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
        }),    
        takeUntil(this.#destroy$) 
    );
}
ngOnDestroy(): void {
    this.#destroy$.next();
    this.#destroy$.complete();
}
        </textarea>
    }
    @case (codeStatus.completeWithTakeKO) {
        <textarea highlight-js lang="ts">
completeWithTakeKO() {
    const multiplierList = [2,3,5,7];
    return of(...multiplierList).pipe(
        switchMap((multiplier) => {
            console.log(multiplier);
            return this.getPokemonEveryTwoseconds(multiplier)
        }),
        tap((pokemon) => {
            this.#rxjsService.currentPokemon.set(pokemon);
            this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
        }), 
        take(2),
        takeUntil(this.#destroy$) 
    );
}
ngOnDestroy(): void {
    this.#destroy$.next();
    this.#destroy$.complete();
}
        </textarea>
    }
    @case (codeStatus.completeWithTakeOK) {
        <textarea highlight-js lang="ts">
completeWithTakeOK() {
    const multiplierList = [2,3,5,7];
    return of(...multiplierList).pipe(
        take(2),
        switchMap((multiplier) => {
            console.log(multiplier);
            return this.getPokemonEveryTwoseconds(multiplier)
        }),
        tap((pokemon) => {
            this.#rxjsService.currentPokemon.set(pokemon);
            this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
        }), 
        takeUntil(this.#destroy$)
    );        
}
ngOnDestroy(): void {
    this.#destroy$.next();
    this.#destroy$.complete();
}
        </textarea>
    }
    @case (codeStatus.CompleteWithUnsubscribeOneOK) {
        <textarea highlight-js lang="ts">
completeWithUnsubscribeOneOK() {
    return of().pipe(    
        switchMap(() => this.getPokemonEveryTwoseconds()),
        tap((pokemon) => {
            this.#rxjsService.currentPokemon.set(pokemon);
            this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
        }),             
    ).subscribe();
}
ngOnDestroy(): void {
    this.#pokemonStreamSubscribed.unsubscribe();                
}
        </textarea>
    }
}   
</div>
