<div class="">
    <p class="text-gray-400 text-2xl font-bold">Bad destroy component</p>
    <mat-radio-group [value]="selectedFunction()" (change)="selectFunction($event)">
        @for(status of codeStatus | keyvalue; track status) {
            <mat-radio-button [value]="status.value">
                {{ status.value }}
            </mat-radio-button>
        }
    </mat-radio-group>        
    <br/>
</div>
<div class="grid grid-cols-2 gap-3">
    <button mat-raised-button color="primary" (click)="startFunction()">Start pokemon stream</button>
    <button mat-raised-button color="warn" (click)="destroyFunction()">Force stop pokemon stream</button>
</div>
<div>    
@switch (selectedFunction()) {
    @case (codeStatus.CompleteWithTakeUntilDestroyedKO) {
        <textarea highlight-js lang="ts">
            completeWithTakeUntilDestroyedKO() {
                return this.#pokemonApiService.getPokemonById(82).pipe(    
                    takeUntilDestroyed(), 
                    switchMap(() => this.getPokemonEveryTwoseconds()),
                    tap((pokemon) => {
                        this.#rxjsService.currentPokemon.set(pokemon);
                        this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
                    }),     
                );
            }
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeUntilDestroyedOK) {
        <textarea highlight-js lang="ts">
            completeWithTakeUntilDestroyedOK() {
                return this.#pokemonApiService.getPokemonById(82).pipe(
                    switchMap(() => this.getPokemonEveryTwoseconds()),
                    tap((pokemon) => {
                        this.#rxjsService.currentPokemon.set(pokemon);
                        this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
                    }),    
                    takeUntilDestroyed(), 
                );
            }
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeUntilKO) {
        <textarea highlight-js lang="ts">
            completeWithTakeUntilKO() {
                return this.#pokemonApiService.getPokemonById(82).pipe(    
                    takeUntil(this.#destroy$),           
                    switchMap(() => this.getPokemonEveryTwoseconds()),
                    tap((pokemon) => {
                        this.#rxjsService.currentPokemon.set(pokemon);
                        this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
                    }),     
                );
            }
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeUntilOK) {
        <textarea highlight-js lang="ts">
            completeWithTakeUntilOK() {
                return this.#pokemonApiService.getPokemonById(82).pipe(    
                    switchMap(() => this.getPokemonEveryTwoseconds()),
                    tap((pokemon) => {
                        this.#rxjsService.currentPokemon.set(pokemon);
                        this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
                    }),    
                    takeUntil(this.#destroy$) 
                );
            }
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeOneKO) {
        <textarea highlight-js lang="ts">
            completeWithTakeOneKO() {
                return this.#pokemonApiService.getPokemonById(82).pipe(    
                    switchMap(() => this.getPokemonEveryTwoseconds()),
                    tap((pokemon) => {
                        this.#rxjsService.currentPokemon.set(pokemon);
                        this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
                    }), 
                    take(1) 
                );
            }
        </textarea>
    }
    @case (codeStatus.CompleteWithTakeOneOK) {
        <textarea highlight-js lang="ts">
            completeWithTakeOneOK() {
                return this.#pokemonApiService.getPokemonById(82).pipe(    
                    take(1),
                    switchMap(() => this.getPokemonEveryTwoseconds()),
                    tap((pokemon) => {
                        this.#rxjsService.currentPokemon.set(pokemon);
                        this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
                    }),             
                    takeUntilDestroyed(),   
                );
            }
        </textarea>
    }
    @case (codeStatus.CompleteWithUnsubscribeOneOK) {
        <textarea highlight-js lang="ts">
            completeWithUnsubscribeOneOK() {
                return this.#pokemonApiService.getPokemonById(82).pipe(    
                    switchMap(() => this.getPokemonEveryTwoseconds()),
                    tap((pokemon) => {
                        this.#rxjsService.currentPokemon.set(pokemon);
                        this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
                    }),             
                ).subscribe();
            }
        </textarea>
    }
}   
</div>
