{{selectedMethod()}}
@if (selectedMethod() === 'Start') {
    @let myPokemon = pokemon$ | async;
}

<div class="">
    <p class="text-gray-400 text-2xl font-bold mt-0">Good destroy component</p>
    <mat-radio-group class="grid grid-cols-2" [value]="selectedMethod()" (change)="selectMethod($event)">
        <mat-radio-button class="grid grid-cols-2" value="Stop">
            Stop observable
        </mat-radio-button>
        <mat-radio-button class="grid grid-cols-2" value="Start">
            Start Observable
        </mat-radio-button>
    </mat-radio-group>        
    <br/>
</div>

<div> 
    <textarea highlight-js lang="ts">            
        toSignal(of([]).pipe(    
            switchMap(() => this.getPokemonEveryTwoseconds()),
            tap((pokemon) => {
                this.#rxjsService.addLog('Request interval launched ' + pokemon.name, 'request')
            }),     
        ));
    </textarea>
</div>
 