<div id="rxjsPage" class="grid grid-cols-2 ">
  <div class="flex flex-col gap-4 pr-4"> 
    <mat-card class="w-full mt-3">
      <mat-checkbox 
        [(ngModel)]="isDelay" 
        [id]="'delay'">
        Set delay to list request
      </mat-checkbox>
    </mat-card>  
    
    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsSwitchMap$ | async" 
      [control]="autoCompleteSwitchMapControl"
      [(selectedPokemon)]="selectedPokemon"
      label="switchMap">
    </app-pokemon-autocomplete>

    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsConcatMap$ | async" 
      [control]="autoCompleteConcatMapControl"
      [(selectedPokemon)]="selectedPokemon"
      label="concatMap">
    </app-pokemon-autocomplete>

    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsMergeMap$ | async" 
      [control]="autoCompleteMergeMapControl"
      [(selectedPokemon)]="selectedPokemon"
      label="mergeMap">
    </app-pokemon-autocomplete>

    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsExhaustMap$ | async" 
      [control]="autoCompleteExhaustMapControl"
      [(selectedPokemon)]="selectedPokemon"
      label="exhaustMap">
    </app-pokemon-autocomplete>    
  </div>
  <div class="flex flex-col justify-between">
    <app-request-logs [(logMessages)]="logMessages"></app-request-logs>
    <button color="primary" mat-raised-button class="mb-6 w-full" (click)="randomPokemonClick()">Random Pokemon</button>
  </div>  
  <div class="col-span-2">
    @let pokemon = pokemonToShow | async;
    <app-pokemon-show
      [name]="pokemon?.name || ''"
      [picture]="pokemon?.sprites?.bigPicture || ''">
    </app-pokemon-show>
  </div> 
<div>