<div id="rxjsPage" class="flex ">
  <div class="flex flex-col gap-4 w-3/6 pr-4"> 
    <mat-card class="w-full mt-3">
      <mat-checkbox 
        [(ngModel)]="isDelay" 
        [id]="'delay'">
        Set delay to list request
      </mat-checkbox>
    </mat-card>  
    
    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsSwitchMap$ | async" 
      [control]="autoCompleteSwitchMapControl"
      label="switchMap">
    </app-pokemon-autocomplete>

    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsConcatMap$ | async" 
      [control]="autoCompleteConcatMapControl"
      label="concatMap">
    </app-pokemon-autocomplete>

    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsMergeMap$ | async" 
      [control]="autoCompleteMergeMapControl"
      label="mergeMap">
    </app-pokemon-autocomplete>

    <app-pokemon-autocomplete 
      [pokemonList]="filteredPokemonsExhaustMap$ | async" 
      [control]="autoCompleteExhaustMapControl"
      label="exhaustMap">
    </app-pokemon-autocomplete>
      
      
    <mat-card>  
      @if (selectedPokemon()) {
        <h1 class="text-700 text-center">{{ selectedPokemon()?.name }}</h1>
        <div class="overflow-hidden text-center">
          <img 
            [src]="selectedPokemon()?.sprites?.picture" 
            alt="Pokemon Image" 
            class="pokemon-image"
            (click)="openPreview(selectedPokemon()?.sprites?.bigPicture)"
          />
        </div>
      } @else {
        <h1 class="text-700 text-center">Select Pokemon</h1>
      }     
    </mat-card>
    
  </div>
  <div class="w-3/6">
    <app-request-logs [logMessages]="logMessages()"></app-request-logs>    
  </div>
<div>
