<div class="grid grid-cols-1">
  <mat-card> 
    <!--<div>With signal</div>-->
    @if (name()) {
      <div [class]="state().isImageLoaded() ? 'show-pokemon' : 'hide-pokemon'">
        <h1 class="text-700 text-center">{{ name() }}</h1>           
        <div class="overflow-hidden text-center">
          <img 
            style="width:-webkit-fill-available"
            [src]="picture()" 
            alt="Pokemon Image" 
            class="pokemon-image"
            (load)="onImageLoadWithSignal()"
            (click)="openPreview(picture())"
          />
        </div>
      </div>      
    } @else {
      <h1 class="text-700 text-center">Select Pokemon</h1>
    }     
  </mat-card>

  <!--<mat-card> 
    <div>With observable</div>
    @if (name()) {
      @let show = showPokemon$ | async;
      <div [class]="show ? 'show-pokemon' : 'hide-pokemon'">
        <h1 class="text-700 text-center">{{ name() }}</h1>           
        <div class="overflow-hidden text-center">
          <img 
            #imageElement
            style="width:-webkit-fill-available"            
            [src]="picture()" 
            alt="Pokemon Image" 
            class="pokemon-image"
            (load)="onImageLoadWithObservable()"
            (click)="openPreview(picture())"
          />
        </div>
      </div>      
    } @else {
      <h1 class="text-700 text-center">Select Pokemon</h1>
    }     
  </mat-card>-->
</div>

