<div style="height:100px">
    <p>Parent component : {{ inputValue }}</p>
    <button (click)="changeData()">Change Data</button>
    <app-child [data]="data" [inputValue]="inputValue" (inputValueChange)="onInputValueChange($event)"></app-child>

    <p>Counter: {{ counter }}</p>
    <input type="number" [(ngModel)]="counter" />

    <p>Counter2: {{ counter2 }}</p>
    

    <!--@let myPokemon = pokemon$ | async;
    <app-pokemon-show
        [name]="myPokemon?.name || ''"
        [picture]="myPokemon?.sprites?.bigPicture || ''">
    </app-pokemon-show> -->
    
    <app-pokemon-show
        [name]="pokemon?.name || ''"
        [picture]="pokemon?.sprites?.bigPicture || ''">
    </app-pokemon-show>
</div>
