<mat-toolbar class="mb-3 flex justify-between" color="primary">
    <mat-icon>star</mat-icon> <!-- Vous pouvez utiliser des icônes Material ici -->
  
    <span class="mat-toolbar-center">
      <div class="flex flex-wrap align-items-center gap-3">
        <button mat-button [routerLink]="['/home']">Home</button>
        <button mat-button [routerLink]="['/using-pipes']">Rxjs Pipes</button>
        <button mat-button [matMenuTriggerFor]="menu">Memory Leak</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/memory-leak/bad']">Bad Destroy</button>
          <button mat-menu-item [routerLink]="['/memory-leak/good']">Good Destroy</button>
        </mat-menu>
        <button mat-button [routerLink]="['/vega']">Vega</button>
      </div>
    </span>
  
    <mat-icon>star</mat-icon> <!-- Autre icône Material -->
</mat-toolbar>
  