<div>
  <!-- Section Bannière avec Titre et CTA -->
  <section>
    <p-card class="col-12" styleClass="custom-card-info">
      <div class="text-center">
        <h1 class="mb-3 text-white banner-title">Welcome to Pokémon Show!</h1>
        <p class="mb-5 text-white">Discover the world of Pokémon with our exciting gallery!</p>
      </div>
    </p-card>
  </section>
  
  
  <!-- Section de présentation Pokémon -->
  <section class="grid">
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Bulbasaur"/>
        <h3>Bulbasaur</h3>
      </p-card>
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="Charmander"/>
        <h3>Charmander</h3>
      </p-card>
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" alt="Squirtle"/>
        <h3>Squirtle</h3>
      </p-card>
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu"/>
        <h3>Pikachu</h3>
      </p-card>
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/39.png" alt="Jigglypuff"/>
        <h3>Jigglypuff</h3>
      </p-card>    
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/52.png" alt="Meowth"/>
        <h3>Meowth</h3>
      </p-card>
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/133.png" alt="Eevee"/>
        <h3>Eevee</h3>
      </p-card>
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png" alt="Mewtwo"/>
        <h3>Mewtwo</h3>
      </p-card>
      <p-card class="col-4 text-center" styleClass="hover:shadow-4 cursor-pointer">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/88.png" alt="Grimer" class="p-shadow-3 p-d-block p-mx-auto" />
        <h3>Grimer</h3>
      </p-card>
  </section>
</div>