<div>
  <!-- Section Bannière avec Titre et CTA -->
  <section class="home-title">
    <mat-card class="my-2 custom-card-info">
      <div class="text-center">
        <h1 class="mb-3 text-white banner-title">Welcome to Pokémon Show!</h1>
        <p class="mb-5 text-white">Discover the world of Pokémon with our exciting gallery!</p>
      </div>
    </mat-card>
  </section>

  <!-- Section de présentation Pokémon -->
  <section class="grid grid-cols-3 gap-4">
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Bulbasaur" class="pokemon-image"/>
      <h3>Bulbasaur</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="Charmander" class="pokemon-image"/>
      <h3>Charmander</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" alt="Squirtle" class="pokemon-image"/>
      <h3>Squirtle</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu" class="pokemon-image"/>
      <h3>Pikachu</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/39.png" alt="Jigglypuff" class="pokemon-image"/>
      <h3>Jigglypuff</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/52.png" alt="Meowth" class="pokemon-image"/>
      <h3>Meowth</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/133.png" alt="Eevee" class="pokemon-image"/>
      <h3>Eevee</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png" alt="Mewtwo" class="pokemon-image"/>
      <h3>Mewtwo</h3>
    </mat-card>
    <mat-card class="text-center cursor-pointer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/88.png" alt="Grimer" class="pokemon-image"/>
      <h3>Grimer</h3>
    </mat-card>
  </section>
</div>
