<mat-card class="request-log-component">
    <div class="flex">
      <div class="flex items-center h-12">
        <button mat-button color="warn" [disabled]="logMessages().length === 0" (click)="clearLogs()">
          <mat-icon >delete</mat-icon>
        </button>
      </div> 
      <mat-divider vertical></mat-divider>
      <div class="ml-3 content-center">
        <div class="text-gray-700 text-2xl font-bold">Request Logs</div>
      </div>
    </div>
  
    <mat-divider></mat-divider>
  
    @if (logMessages().length > 0) {
      <div class="m-4 max-h-64 overflow-auto">
        @for (log of logMessages(); track log) {
          <div class="m-1">
            <mat-chip [class]="log.type === 'request' ? 'log-request': 'log-response'">
              {{ log.message }}
            </mat-chip>
          </div>
        }     
      </div>   
    } @else {
      <div>
        <h1 class="text-gray-400 text-center">No logs</h1>
      </div>
    }      
</mat-card>