/* Add application styles & imports to this file! */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.custom-card-info {
    padding: 2rem !important;
    background: var(--primary-color);
    color: #fff;
}

.custom-card {
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Assure que rien ne dépasse les bords de la card */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
  
.custom-card:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* Effet de brillance autour de la card */
}

.p-card-content {
    padding: 0;
}