/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@tailwind utilities;

::ng-deep .mat-mdc-chip {
    color: white;
}

.home-header {
    .custom-card-info {
        padding: 2rem;
        background-color: rgb(197, 138, 27);
        color: #fff;
    }
}

app-log-panel {
    .mat-mdc-button>.mat-icon {
        margin-right: 0;
    }
}



.custom-card {
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Assure que rien ne dépasse les bords de la card */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
  
.custom-card:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); /* Effet de brillance autour de la card */
}

.p-card-content {
    padding: 0;
}